{
	"PORT":9089,
	"APPNAME":"SOME APP NAME",
	"PWSALT":"SOME RANDOM STRING VALS",
	"JWTSECRET":"SOME JWTSECRET VALUES",
	"TESTUN":"DBUNAME",
	"TESTPW":"DBPASSWORD",
	"TESTDB":"DB",
	"TESTHOST":"127.0.0.1"
}